<mat-card>
    <mat-card-header>
      <h1>Inzenjering znanja 2020</h1>
    </mat-card-header>

    <button mat-raised-button (click)="onNoviPregled()">Dodaj pregled</button>

  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="pregledi">
  
        <!-- Id  -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID Pregleda</th>
          <td mat-cell *matCellDef="let pregled"> {{pregled.id}} </td>
        </ng-container>
  
        <!-- Simptomi -->
        <ng-container matColumnDef="simptomi">
          <th mat-header-cell *matHeaderCellDef>Simptomi</th>
          <td mat-cell *matCellDef="let pregled"> <button mat-raised-button (click)="unesiSimptome(pregled)">Unesi simptome </button>
          </td>
        </ng-container>
  
        <!-- Testovi -->
        <ng-container matColumnDef="testovi">
          <th mat-header-cell *matHeaderCellDef>Testovi</th>
          <td mat-cell *matCellDef="let pregled"> <button mat-raised-button (click)="unesiTestove(pregled)" >Unesi testove </button> </td> <!--Ovo ubaciti za testove (click)="unesiTetove(pacijent)" -->
        </ng-container>
  
        <!-- Dijagnoze -->
        <ng-container matColumnDef="dijagnoze">
          <th mat-header-cell *matHeaderCellDef>Dijagnoze</th>
          <td mat-cell *matCellDef="let pregled"> <button mat-raised-button (click)="unesiDijagnoze(pregled)">Unesi dijagnoze </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
  </mat-card>
